*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#id1{
    background-color: thistle;
    height: 400px;
    margin:10px;
}
#id2{
    background-color: thistle;
    height: 400px;
    margin:10px;
}
#id3{
    background-color: thistle;
    height: 400px;
    margin:10px;
}
#id4{
    background-color: thistle;
    height: 400px;
    margin:10px;
}
#id5{
    background-color: thistle;
    height: 400px;
    margin:10px;
}
#id6{
    background-color: thistle;
    height: 400px;
    margin:10px;
}
#id7{
    background-color: thistle;
    height: 400px;
    margin:10px;
}
#id8{
    background-color: thistle;
    height: 400px;
    margin:10px;
}
#id9{
    background-color: thistle;
    height: 400px;
    margin:10px;
}
#segundo{
    text-align: center;
}