*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.fondo{
    width: 100%;
    
}
.headerperfil{
display:flex;
border: solid 0.5px #c5c5c5;
padding-top:30px;
padding-left: 30px;
padding-bottom: 30px;
margin-top: 50px;
margin-left: 10px;
margin-right: 20px;
}
.ladoizquierdo{
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}
.ladoderecho{
    width: 40%;
    padding: 30px;
    margin:10px;
    background-color: #fdfdfd;
    border:solid 1px #dfdfdf;
}
.mainperfil{
    display: flex;
    border-right: solid 0.5px #c5c5c5;
    border-left:solid.5px #c5c5c5 ;
    margin-left: 10px;
    margin-right: 20px;
    padding-top:48px ;
}
.ladoderecho li{
    list-style-type:none;
    display: flex;
    padding-bottom: 18px;
    font-size: 16px;
    font-weight: 100;

}
.ladoderecho li b{
text-align: left;
width: 40%;
font-size:20px;
}
.ladoderecho li span{
    text-align:right;
    width: 60%;
    font-size: 20px;
    word-wrap: break-word;
}
.primerboton{
    background: rgb(1, 161, 253);
    border-radius:20px;
    border:#c5c5c5 0.5px solid ;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    width: 150px;
    height: 40px;
}
.primerboton:hover{
    background: rgb(38, 87, 235);
}
.segundoboton{
    background:rgb(1, 161, 253) ;
    border-radius: 20px;
    border: #c5c5c5 0.5px solid;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    width: 150px;
    height: 40px;
    margin-left: 20px;
}
.segundoboton:hover{
    background:rgb(38, 87, 235) ;
}
h1 {
padding-left: 20px;
padding-top: 20px;
}
.hacer h2{
    text-align: center;
    padding-top: 80px;
    font-weight: 600;
    font-size: 30px;

}
.iconos{
    text-align: center;
    padding-top:50px;

}
.iconos i{
    margin: 30px;
    padding: 40px;
}
.iconos i:hover{
border-radius: 60px;
border: solid rgb(1, 161, 253) 0.5px;
}
.hacer{
    margin-left: 10px;
    margin-right: 20px;
    border-left: solid #c5c5c5 0.5px;
    border-right:solid #c5c5c5 0.5px;
}
.fa-robot{
    color:rgb(1, 161, 253) ;
}
.fa-desktop{
    color: rgb(1, 161, 253);
}
.fa-images{
    color: rgb(1, 161, 253);
}
h2{
    font-weight: 100;
    font-family:'Raleway', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-left: 20px;
}
h1{
    font-size: 40px;
    font-family:'Raleway', Helvetica, Arial, sans-serif;
    padding-top:0%;
}
#LINE1{
    stroke:  #00b6f9;
}
#LINE2{
    STROKE:  #00b6f9;
}

@keyframes rotacion{
    from{
        transform:rotate(0deg);
        transform-origin: 50% 50%;
    }
    to{
        transform: rotate(360deg);
        transform-origin: 50% 50%;
    }
}
.marco:hover{
    animation: rotacion 1s;
}
.lax{
    margin-right: 900px;
}
#titulodemain{
    font-weight: 600;
    font-size: 26px;
    font-family:'Raleway', Helvetica, Arial, sans-serif;
}
p{
    font-size: 16px;
    font-family:'Raleway', Helvetica, Arial, sans-serif;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 24px;
    font-weight: 100;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}