*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#wraper{
    border: 1px solid #c6c6c6;
}
.iconocontact{
    width:50px;
    height:50px;
}
header{
    border-bottom: 1px #C6C6C6 solid;
}

.titulos a{
    text-decoration: none;
}
#enlace{
    font-size: 60px;
    text-decoration: none;
    color: #c6c6c6;
}

H1{
    font-size: 41px;
    font-weight: 100;
    font-family: Raleway,Helvetica,Arial,sans-serif;
}
h2{
    font-size: 16px;
    font-weight: 100;
    font-family: Raleway,Helvetica,Arial,sans-serif;
    line-height: 5px;
}
.cajita{
    border: 1px solid #dfdfdf ;
    background-color: #fdfdfd;
    line-height: 30px;
    
}
#modificar{
    margin-bottom: 16px;
}
.boton{
    border-radius:30px;
    width:100px;
    height: 40px;
    background-color: #00b6f9;
    border: 1px solid  #fdfdfd;
    color: #ffffff;

}
.boton:hover{
    background-color:#068cd6;
}
.iconos ul{
    display : flex;
    list-style: none;
    padding: 0%;
    margin-top: 30px;
}
.iconos li{
    margin-right: 20px;
}
.fa-facebook-square{
    color: #00b6f9;
}
.fa-facebook-square:hover{
    color:rgb(48, 48, 241);
}
.fa-instagram{
    color: #00b6f9;
}
.fa-instagram:hover{
    color:#068cd6;
}
.fa-twitch{
    color: #00b6f9;;
}
.fa-twitch:hover{
    color: rgb(177, 106, 209);
}
.fa-twitter{
    color: #00b6f9;
}
.fa-twitter:hover{
    color: #068cd6;
}
.fa-youtube{
    color:  #00b6f9;
}
.fa-youtube:hover{
    color: rgb(241, 48, 48);
}
.fa-instagram{
    color:  #00b6f9;
}
.fa-instagram:hover{
    color: rgb(179, 14, 104);}

    #LINE1{
    stroke:  #00b6f9;
}
#LINE2{
    STROKE:  #00b6f9;
}

@keyframes rotacion{
    from{
        transform:rotate(0deg);
        transform-origin: 50% 50%;
    }
    to{
        transform: rotate(360deg);
        transform-origin: 50% 50%;
    }
}
.marco:hover{
    animation: rotacion 1s;
}
/* Set the size of the div element that contains the map */
#map {
    height:400px;
    /* The height is 400 pixels */
    /* The width is the width of the web page */
    border: solid #ffffff 1px;
  }


