*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.contenedor{
    border: 10px solid #c6c6c6;
    display: grid;
    grid-template-areas:'header header header header header'
    'menu main main right right'
    'menu footer footer footer footer';
    text-align: center;
    font-size: 20px;
}
header{
    grid-area: header;
    border:10px solid #c6c6c6; ;
}
main{
    grid-area: main;
    border: 10px solid #c6c6c6;
}
menu{
    grid-area: menu;
    border: 10px solid #c6c6c6;
}
footer{
    grid-area: footer;
    border: 10px solid #c6c6c6;
}
.right{
    grid-area: right;
    border: 10px solid #c6c6c6;
}
