* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.principal{
    border: #C6C6C6 solid 0.5px;
    background-color: rgba(0,0,0,0);
    box-shadow: 0px 0px 50px rgb(0 0 0 / 10%);

}
header{
border-bottom:#C6C6C6 solid 0.5px;

background: rgb(255,215,232);
background: radial-gradient(circle, rgba(255,215,232,1) 100%, rgba(148,187,233,1) 100%);
}

.lateralizquierdo img{
    border-radius: 50%;
}

.lateralderecho li{
    list-style: none;
}
.lateralderecho ul{
    display: flex;
}
main{
    border-bottom:  #C6C6C6 solid 0.5.px;
}
.lista{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: black;
    color: #c5c5c5;
}
.lista li{
list-style: none;
cursor: pointer;
}
.lista li:hover{
    color: rgba(136, 204, 243, 0.932);
}
.lista a{
    text-decoration: none;
 color: #c5c5c5;
}
.lista a::before{
    color: #c5c5c5;
}
.lista a::after{
    color: #c5c5c5;
}
.lista a:hover{
    color: rgba(136, 204, 243, 0.932);
}
.fa-grin-alt:hover{
    color: rgba(136, 204, 243, 0.932);
}

footer{
    display: flex;
    flex-wrap: wrap;
    background: rgb(255,215,232);
background: radial-gradient(circle, rgba(255,215,232,1) 100%, rgba(148,187,233,1) 100%);
}
footer li{
    list-style: none;
    text-align: center;
}
footer ul{
    display: flex;
    width: 100%;
justify-content: space-between;
}
.fa-twitch{
    color: rgba(255, 146, 240, 0.932);
}
.fa-twitch:hover{
    color: rgb(177, 106, 209);
}
.fa-twitter{
    color:  rgba(255, 146, 240, 0.932);
}
.fa-twitter:hover{
    color: rgb(48, 48, 241);
}
.fa-youtube{
    color: rgba(255, 146, 240, 0.932);
}
.fa-youtube:hover{
    color: rgb(241, 48, 48);
}
.fa-instagram{
    color: rgba(255, 146, 240, 0.932);
}
.fa-instagram:hover{
    color: rgb(179, 14, 104);
}
.fa-facebook-square{
    color:  rgba(255, 146, 240, 0.932); 
}
.fa-facebook-square:hover{
    color: rgb(48, 48, 241);
}
.fa-map-marker-alt{
    color:  rgba(255, 146, 240, 0.932);
}
.fa-envelope-open{
    color:  rgba(255, 146, 240, 0.932);
}
.fa-mobile{
    color:  rgba(255, 146, 240, 0.932);
}
.fa-map-marker-alt:hover{
    color: rgb(48, 48, 241);
}
.dibujo{
    border: #c6c6c6 solid 1px;
}
.dibujo:hover #circle{
    transform: translateX(100%);
    transition: ease 1s all;
}
#triangulo{
    fill: burlywood;
    stroke-width: 2px;
    stroke: coral;
    transition: ease 1s all;
    transform: translateX(-100);
}
#triangulo:hover{
    transform: translateX(100%);
}
#circle{
    transition: ease 3s all;
}
#circle:hover{
    transform: translateX(100%);
}
