*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carcaza{
    border: solid 1px #dfdfdf;
    border-radius: 20px;
    justify-content: center;
    background-color: #c5c5c5;
}

.pantalla{
    width:90%;
    height: 100px;
    text-align: center;
    border: solid 1px #dfdfdf;
    border-radius: 20px;
    margin: 10px;
    background:rgb(214, 202, 214);
}

.boton{
    border: solid #c5c5c5 1px;
    text-align: center;
    border-radius: 10px;
    height:30px;
    background-color: black;
    color: antiquewhite;
}
.boton:hover{
    color: hotpink;
    background:#c5c5c5;
}